*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #f1f1f1;
}
.MyWatch{
    top: 35%;
    left: 34%;
    position: fixed;
    background-color: aliceblue;
    padding: 50px;
    border-radius: 5px;
    box-sizing: rgba(0,0,0,0.1)0px 10px 50px;
}
span{
    font-size: 50px;
}